.buttonStyle {
    visibility: hidden;
    width: 200px;
    padding: 10px;
    margin-top:50px;
    border: 1px solid #333;
    color: #fff;
    backdrop-filter: brightness(60%);
}

.cardStyle {
  width: 420px;
  height:350px;
  display: grid;
  position: relative;
  align-items: flex-start;
  background-color: #ddd;
  border-radius: 10px;
}

.largeObjectStyle {
    width: 100%;
    max-height: 600px;
    margin-top:20px;
    object-fit: contain;
}

.largeVideoStyle {
    width: 100%;
    max-height: 600px;
    margin-top:20px;
    object-fit: contain;
}

@media (hover:hover) {
    .cardStyle:hover {
        transform: scale(1.2);
        box-shadow: 0 20px 20px 0 rgba(0,0,0,0.10);
        transition: 300ms;
        z-index: 1;
      }
}

.cardStyle:hover > .buttonStyle {
    visibility: visible;
}

.imageStyle {
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 10px;
    object-fit: cover;
    background-color: #ddd;
}

.videoStyle {
    width: 100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    border-radius: 10px;
    object-fit: cover;
    background-color: #ddd;
}

@media (max-width: 719px){ 
    .cardStyle {
        width: calc(100vw - 25px);
      }
    .buttonStyle {
        visibility: visible;
        width: 200px;
        top: 10px;
        left:0;
        transform: translate(0, 0);
    }
    .largeVideoStyle {
        width: 100%;
        height:350px;
        display: grid;
        position: relative;
        align-items: flex-start;
        background-color: #ddd;
        border-radius: 0;
        max-height: auto;
        margin-top: 20px;
        object-fit: cover;
    }
}