.gridContainer {
    padding: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(420px, 0fr));
    grid-gap: 1rem;
}

.breadcrumb {
    display: grid;
    justify-content: center;
}


@media (max-width: 719px){ 
    .gridContainer {
        padding: 2rem 0;
        grid-template-columns: repeat(auto-fit, minmax(calc(100vw - 25px), 0fr));
    }
}